@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Raleway:400,600,700,800&display=swap');

/* h2 {
    color: #008b5f;
    font-family: Montserrat 800;
    /* width: 100%; */
/* font-size:24px; */
/* font-size: calc(16px + 8 * ((100vw - 320px) / 760)); */
h2 {
    color: black;
    /* background-color: #008b5f; */
    padding-left: 7%;
    /* width: 110%; */
    margin: auto;
    font-size: calc(16px + 8 * ((100vw - 320px) / 760));
    margin-bottom: 15%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.container1 {
    box-sizing: border-box;
    /* width: 75%; */
    /* height: 100%; */
    border-radius: 15px;
    /* background: white; */
    background-color: #ffffff;
    background-image: url("design9.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    padding: 30px;
    padding-right: 50px;
    /* margin: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* height: 48vh;
     */
    /* width: 55%; */
    height: 600px;
    max-width: 100%;
}

.container2 {
    /* background-color: blueviolet; */
    margin-left: 10px;
    margin-right: 10px;
    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;

}

.container3 {
    /* padding-top:20% ; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 6%; */
    vertical-align: middle;
    text-align: center;
    /* margin-bottom: 30%; */
    /* background-color: #8360c3; */
}

.radio-container {
    /* background-color: #8360c3; */
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    /* font-family: Montserrat; */
    font-weight: 400;
    /* font-size: 90%;  */
    font-size: small;
}

#logo {
    width: 60%;
    max-width: 100%;
}

.outer {
    min-height: 95vh;
    /* background-color: #8360c3; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    /* background-color: #8360c3; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

input {
    border: lightgray solid 3px;
    background-color: none;
    border-radius: 40px;
    padding: 4%;
    padding-left: 5%;

    margin-bottom: 5%;
    margin-right: 5%;
    width: 100%;
    font-size: 100%;
}

input:focus {
    border: #2ebf91 solid 3px;
    /* background-color: none; */
    /* border-radius: 40px; */
    /* padding: 4%; */
    /* padding-left: 5%; */
}

input[type=submit]:default {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-top: 10%;
    background-color: #2ebf91;
    width: 110%;
    color: white;
    text-align: center;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #00d491;
    text-align: center;
    width: 110%;
    color: white;
}

input[type=submit]:active {
    background-color: #008b5f;
    text-align: center;
    width: 110%;
    color: white;
}

html {
    /* background-image: linear-gradient(to bottom right, rgb(0, 110, 255),rgb(8, 248, 8));
    background-repeat:no-repeat ;
    background-size:cover ;
    width: 100%;
    height: 100%; */
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2ebf91, #8360c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}